HW8/src/Tariff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="TariffType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="Operator_name"/>
      <xs:element type="xs:string" name="payroll"/>
      <xs:element type="call_pricesType" name="call_prices"/>
      <xs:element type="xs:string" name="sms_price"/>
      <xs:element type="parametersType" name="parameters"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="TariffType" name="Tariff"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="call_pricesType">
    <xs:sequence>
      <xs:element type="xs:string" name="inside_net"/>
      <xs:element type="xs:string" name="outside_net"/>
      <xs:element type="xs:string" name="stationary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element type="xs:string" name="custom_number"/>
      <xs:element type="xs:string" name="tarification"/>
      <xs:element type="xs:string" name="pay_for_tariff"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>